body{
    margin: 0px;
    padding: 0px;
    font-family: 'Playfair Display', serif;
    background-image: url("background.jpg");
    

}
header{
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}
header h1,h2{
    text-align: center;
}
header p{
    font-size: 18px ;
}
.content-list{
  
   max-width: 100%;
    display: flex;
    justify-content: center;
}
h3{
    text-align: center;
}
a[href$="content"]{
    Color:black;
    padding: 2px;
    text-decoration: none;
}
a:hover:not(#goback){
    border: 1px solid white;
    border-radius: 10px;
    background-color: black;
    color:white;
    transition: .2s;
}
li{
    padding-bottom: 10px;
    
    
}
div[id$="content"]{
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}
p[class]:not(.dialog){
    font-size: 18px;
    font-weight: bold;
}
.dialog{
    background-color: rgba (255, 23, 23, 0.4);
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    font-style: oblique;
    line-height: 30px;
}
 span{
    font-style: normal;
}
.back{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
#goback {
    background-color: black;
    color:white;
    text-align: center;
    margin-bottom: 50px;
    text-decoration: none;
}
#goback:hover {
    font-size: 18px;
    padding:10px;
    transition: .1s;
}
br{
    text-indent: 20px;
}